<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- 配置securityManager -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 当访问需要认证的资源时，如果没有认证，那么将自动跳转到该url;
            如果不配置该属性 默认情况下会到根路径下的login.jsp -->
        <property name="loginUrl" value="/login"></property>
        <!-- 配置认证成功后 跳转到那个url上，通常不设置，如果不设置，那么默认认证成功后跳转上上一个url -->
        <property name="successUrl" value="/index"></property>
        <!-- 配置用户没有权限访问资源时 跳转的页面 -->
        <property name="unauthorizedUrl" value="/refuse"/>
        <!-- 配置shiro的过滤器链 -->
        <property name="filterChainDefinitions">
            <value>
                /toLogin=anon
                /login=authc
                /logout=logout
                /**=authc
            </value>
        </property>
    </bean>
    <!-- 配置securityManager -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="userRealm"/>
    </bean>
    <bean id="userRealm" class="cn.wh.realm.UserRealm"/>
</beans>