<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"

       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"

       xmlns:context="http://www.springframework.org/schema/context"

       xmlns:mvc="http://www.springframework.org/schema/mvc"

       xsi:schemaLocation="

        http://www.springframework.org/schema/beans

        http://www.springframework.org/schema/beans/spring-beans.xsd

        http://www.springframework.org/schema/context

        http://www.springframework.org/schema/context/spring-context.xsd

        http://www.springframework.org/schema/mvc

http://www.springframework.org/schema/mvc/spring-mvc.xsd">



    <!-- 自动扫描controller包下的所有类，使其认为spring mvc的控制器 -->

    <context:component-scan base-package="com.rzhd.controller" />

    <mvc:annotation-driven />



    <!-- 让springmvc可以访问静态资源 -->

    <mvc:resources mapping="/resources/**" location="/resources/" />



    <!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->

    <bean id="mappingJacksonHttpMessageConverter"

          class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">

        <property name="supportedMediaTypes">

            <list>

                <value>text/html;charset=UTF-8</value>

            </list>

        </property>

    </bean>



    <!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->

    <bean

            class="org.springframework.web.servlet.view.InternalResourceViewResolver"

            p:prefix="/WEB-INF/jsp/" p:suffix=".jsp" />



    <bean id="multipartResolver"

          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

        <property name="defaultEncoding">

            <value>UTF-8</value>

        </property>

        <property name="maxUploadSize">

            <value>32505856</value><!-- 上传文件大小限制为31M，31*1024*1024 -->

        </property>

        <property name="maxInMemorySize">

            <value>4096</value>

        </property>

    </bean>



    <!-- 异常处理 -->

    <!-- <bean id="exceptionResolver"

    class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">

    <property name="defaultErrorView">

    <value>error</value>

    </property>

    <property name="exceptionMappings">

    <props>

    <prop key="java.lang.NullPointerException">nullException</prop>

    <prop key="java.lang.RuntimeException">userException</prop>

    <prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">uploadException</prop>

    </props>

    </property>

    </bean> -->



</beans>

